@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
    .ant-tabs {
        .ant-tabs-nav {
            margin: 0;
        }
    }
}

// fade in animation
.fade-in {
    animation: fadein 0.5s;
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.slide-in {
    animation: slidein 0.5s;
    @keyframes slidein {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
}

.keep-alive {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cache-component {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.cache-component {
    animation: fade-in 0.5s;
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.ant-pro-table-search.ant-pro-table-search-query-filter {
    margin-bottom: 0px !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.ant-pro-query-filter.ant-pro-query-filter {
    padding: 18px !important;
}

.ant-pro-table-list-toolbar-container {
    padding-block: 8px !important;
}

.ant-pro-query-filter-row {
    row-gap: 12px !important;
}

body {
    .ant-layout {
        .ant-menu {
            .ant-menu-item {
                //transition: none !important;
            }
        }
    }
}

.dark {
    color: #f2f2f2;
}

.dark {
    color-scheme: dark;
    .ant-pro-table-search.ant-pro-table-search-query-filter {
        border-bottom: 1px solid #303030 !important;
    }
}

.ant-tabs-nav::before {
    border-bottom: none !important;
}

.ant-menu {
    border-inline-end: none !important;
}

.ant-tabs-tab-btn {
    user-select: none;
}
